header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #000;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    min-width: 100vw;
    width: 100%;
    box-shadow: 1px 2px 20px #000;
    height: 4rem;
    max-height: 4rem;
}

.color-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.pen {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #000;
}

#pen-red {
    background-color: red;
}

#pen-green {
    background-color: green;
}

#pen-blue {
    background-color: blue;
}

#pen-black {
    background-color: black;
}

.pen:hover {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

header button {
    background: transparent;
    color: rgb(211, 215, 215);
    border: none;
}

header button:hover {
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #777;
    height: 100%;
}

header .logo {
    height: 100%;
    padding: 0.5rem;
}