* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
	overflow: hidden;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
	margin-top: 10rem;
}

.upload-container h1 {
	font-size: 3.0em;
	color: rgb(4, 61, 92);
	text-align: center;
}

.upload-container h2 {
	font-weight: 50;
	padding-top: 0rem;
	padding-bottom: 2rem;
	text-align: center;
}

.upload-container h3 {
	margin-bottom: 4rem;
	text-transform: uppercase;
	color: darkcyan;
	text-align: center;
}

.upload-container  input{
    display: none;
}

.upload-container label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2.0em;
    color: darkcyan;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
	border: 1px dashed darkcyan;
	padding: 1rem;
	border-radius: 4px;
	font-weight: bold;
}

label:hover {
    cursor: pointer;
    background-color: darkcyan;
	color: white;
}

.upload-container label span {
    font-size: 14px;
}


#file-to-upload {
	display: none;
}

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdf-contents {
	display: none;
	width: 100vw;
}

.main-content {
	display: flex;
	flex-direction: column;
	padding-top: 4rem;
	align-items: center;
	width: 100vw;
}

#pdf-meta {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	position: sticky;
	top: 5rem;
	left: 0rem;
}

#pdf-meta button {
	padding: 0.5rem 0.5rem;
	background-color: rgb(252, 252, 252);
	color: darkcyan;
	border: none;
	margin: 0.5rem;
	border-radius: 4px;
	font-size: 1.2em;
}

#pdf-meta button:hover {
	cursor: pointer;
	color: darkblue;
}

#pdf-meta a {
	padding: 0.5rem 0.5rem;
	background-color: rgb(252, 252, 252);
	color: darkcyan;
	border: none;
	text-decoration: none;
	font-size: 1.2em;
}

#page-count-container {
	display: flex;
	flex-direction: row;
	gap: 0.2rem;
	color: darkblue;
	font-weight: 400;
	padding: 1rem;
	width: fit-content;
	font-size: 14px;
}

#pdf-canvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
	width: 1024px;
	max-width: 1024px;
	min-width: 1024px;
}

#canvas-container {
	width: 1024px;
	max-width: 95%;
	height: 80vh;
	margin: 1rem;
	border: 2px solid darkcyan;
}

.no-scroll {
	overflow: scroll;
}

.can-scroll {
	overflow: hidden;
}

#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}

#download-image {
	width: 150px;
	display: block;
	margin: 20px auto 0 auto;
	font-size: 13px;
	text-align: center;
}

@media (max-width: 700px) {
	body {
		overflow: hidden;
	}
}